<nav class="navbar navbar-expand-md navbar-light bg-success"> 
    <a class="navbar-brand" href="assets\image\Logo.jpg">
    <div class="logo-image">
    <a href="index"><img src="assets\image\Logo.jpg" width="50" height="50"></a>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
            </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/register"  class="nav-link" >Register</a></li>
        <li><a class="nav-link" href="javascript:void(0);" routerLink="/login" >Login</a></li>
        <li class="nav-item"><a href="javascript:void(0);" routerLink="/profilepage" class="nav-link" >ProfilePage</a></li>
        <li><a class="nav-link" href="javascript:void(0);"  >Logout</a></li>
    </ul>
    </div>
</nav>