
<div class="navbar-top">
    <div class="title">
        <h1>Profile Page</h1>
    </div>
    <ul>
        <li>
            <a href="#message">
                <span class="icon-count">29</span>
                <i class="fa fa-envelope fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="#notification">
                <span class="icon-count">59</span>
                <i class="fa fa-bell fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="#sign-out">
                <i class="fa fa-sign-out-alt fa-2x"></i>
            </a>
        </li>
    </ul>
</div>
<div class="sidenav">
    <div class="profile">
        <img src="assets\image\unnamed.webp" alt="" width="100" height="100">

        <div class="name">
            Pricy Laar
        </div>
        <div class="Friend">
           150 Friends and 180 Followers
        </div>
    </div>

    <div class="sidenav-url">
        <div class="url">
            <a href="#profile" class="active">Home</a>
            <hr align="center">
        </div>			                  
        <div class="url">
            <a href="#settings">Post and Reels</a>
            <hr align="center">
        </div>
        <div class="url">
            <a href="#settings">Chats</a>
            <hr align="center">
        </div>
        <div class="url">
            <a href="#settings">Video</a>
            <hr align="center">
        </div>
    </div>
</div>
<div class="main">
    <h2>Edit Profile</h2>
    <div class="card">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>Pricilla</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>Pricylazar@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td>Vellore, TN</td>
                    </tr>
                    <tr>
                        <td>Material status</td>
                        <td>:</td>
                        <td>Single</td>
                    </tr>
                    <tr>
                        <td>Studied @</td>
                        <td>:</td>
                        <td>Saveetha University</td>
                    </tr>
                    <tr>
                        <td>About</td>
                        <td>:</td>
                        <td>Don't squander your opportunities for achieving temporary comfort.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>